$backGroundBlack: #000;
$fontColorWhite: #fff;
$fontFamilyDefault: 'Roboto', sans-serif;

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background: $backGroundBlack;
  color: $fontColorWhite;
  font-family: $fontFamilyDefault;
}

h1, h2, h3, h4{

  font-family: $fontFamilyDefault;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.main-left{
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.form{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.button {
  position: relative;
  background-color: #071ee9;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 5px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #0591ee;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}